.flickity-enabled {
  position: relative;
}

.flickity-enabled:focus { outline: none; }

.flickity-viewport {
  overflow: hidden;
  position: relative;
  height: 100%;
}

.flickity-slider {
  position: absolute;
  width: 100%;
  height: 100%;
}

/* draggable */

.flickity-enabled.is-draggable {
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.flickity-enabled.is-draggable .flickity-viewport {
  cursor: move;
  cursor: -webkit-grab;
  cursor: grab;
}

.flickity-enabled.is-draggable .flickity-viewport.is-pointer-down {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

/* ---- flickity-button ---- */

.flickity-button {
  position: absolute;
  background: hsla(0, 0%, 100%, 0.75);
  border: none;
  color: #333;
}

.flickity-button:hover {
  background: white;
  cursor: pointer;
}

.flickity-button:focus {
  outline: none;
  box-shadow: 0 0 0 5px #19F;
}

.flickity-button:active {
  opacity: 0.6;
}

.flickity-button:disabled {
  opacity: 0.3;
  cursor: auto;
  /* prevent disabled button from capturing pointer up event. #716 */
  pointer-events: none;
}

.flickity-button-icon {
  fill: currentColor;
}

/* ---- previous/next buttons ---- */

.flickity-prev-next-button {
  top: 50%;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  /* vertically center */
  transform: translateY(-50%);
}

.flickity-prev-next-button.previous { left: 10px; }
.flickity-prev-next-button.next { right: 10px; }
/* right to left */
.flickity-rtl .flickity-prev-next-button.previous {
  left: auto;
  right: 10px;
}
.flickity-rtl .flickity-prev-next-button.next {
  right: auto;
  left: 10px;
}

.flickity-prev-next-button .flickity-button-icon {
  position: absolute;
  left: 20%;
  top: 20%;
  width: 60%;
  height: 60%;
}

/* ---- page dots ---- */

.flickity-page-dots {
  position: absolute;
  width: 100%;
  bottom: -25px;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
  line-height: 1;
}

.flickity-rtl .flickity-page-dots { direction: rtl; }

.flickity-page-dots .dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 8px;
  background: #333;
  border-radius: 50%;
  opacity: 0.25;
  cursor: pointer;
}

.flickity-page-dots .dot.is-selected {
  opacity: 1;
}

/* Flickity fullscreen v1.0.1
------------------------- */

.flickity-enabled.is-fullscreen {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: hsla(0, 0%, 0%, 0.9);
  padding-bottom: 35px;
  z-index: 1;
}

.flickity-enabled.is-fullscreen .flickity-page-dots {
  bottom: 10px;
}

.flickity-enabled.is-fullscreen .flickity-page-dots .dot {
  background: white;
}

/* prevent page scrolling when flickity is fullscreen */
html.is-flickity-fullscreen {
  overflow: hidden;
}

/* ---- flickity-fullscreen-button ---- */

.flickity-fullscreen-button {
  display: block;
  right: 10px;
  top: 10px;
  width: 24px;
  height: 24px;
  border-radius: 4px;
}

/* right-to-left */
.flickity-rtl .flickity-fullscreen-button {
  right: auto;
  left: 10px;
}

.flickity-fullscreen-button-exit { display: none; }

.flickity-enabled.is-fullscreen .flickity-fullscreen-button-exit { display: block; }
.flickity-enabled.is-fullscreen .flickity-fullscreen-button-view { display: none; }

.flickity-fullscreen-button .flickity-button-icon {
  position: absolute;
  width: 16px;
  height: 16px;
  left: 4px;
  top: 4px;
}

/* flickity-fade */

.flickity-enabled.is-fade .flickity-slider > * {
  pointer-events: none;
  z-index: 0;
}

.flickity-enabled.is-fade .flickity-slider > .is-selected {
  pointer-events: auto;
  z-index: 1;
}

/* demo carousels
------------------------- */

.carousel {
  background: #FAFAFA;
  margin-bottom: 30px;
  counter-reset: carousel-cell;
}

.carousel-cell {
  width: 66%;
  height: 160px;
  margin-right: 10px;
  margin-bottom: 10px;
  background: #8C8;
  border-radius: 5px;
  counter-increment: carousel-cell;
}

.flickity-enabled .carousel-cell { margin-bottom: 0; }

.carousel-cell:before,
.carousel-cell__number {
  display: block;
  width: 100px;
  margin: 0 auto;
  content: counter(carousel-cell);
  text-align: center;
  line-height: 160px;
  font-size: 80px;
  color: white;
}

.carousel--not-counting .carousel-cell:before { content: none; }

/* ---- carousel-image-cell ---- */
/* frames single image in cell */

.carousel-image-cell {
  width: 66%;
  height: 200px;
  margin-right: 10px;
  background: #222;
  /* center images */
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel-image-cell img {
  display: block;
  max-height: 100%;
}

.carousel-image-cell--wide {
  width: 100%;
}

.carousel.is-fullscreen .carousel-image-cell {
  background: transparent;
}

/* ---- carousel__natural-image ---- */
/* use natural sizes for cell size */

.carousel__natural-image {
  display: block;
  height: 200px;
  min-width: 150px;
  max-width: 100%;
  margin-right: 10px;
}

/* ---- style ---- */

.carousel--full-width .carousel-cell {
  width: 100%;
}

.carousel--half-width .carousel-cell {
  width: 50%;
}

.carousel--various-widths .carousel-cell { width: 33%; }
.carousel--various-widths .carousel-cell.size-180 { width: 180px; }
.carousel--various-widths .carousel-cell.size-large { width: 75%; }

.carousel--media-queried .carousel-cell {
  width: 100%;
}

.carousel--selected-cell .carousel-cell.is-selected { background: #ED2; }

.carousel--carousel-focus:focus .flickity-viewport {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

/* ---- show-several ---- */

.carousel--show-several .carousel-cell { width: 28%; }

/* ---- cell-selector ---- */

.carousel--cell-selector { position: relative; }

/* ---- images-loaded ---- */

.carousel--images-loaded-demo img {
  display: block;
  height: 160px;
}

.carousel--images-demo {
  margin-bottom: 40px;
}

.carousel--images-demo img {
  display: block;
  height: 160px;
}

/* ---- carousel--pixel-position-demo ---- */

.carousel--pixel-position-demo .carousel-cell { width: 300px; }

/* ---- carousel--100-width-height ---- */

.carousel--full-bleed { height: 100%; }

.carousel--full-bleed .carousel-cell { height: 100%; }

/* move page dots into carousel*/
.carousel--full-bleed .flickity-page-dots { bottom: 10px; }

/* ---- carousel--set-carousel-size-disabled ---- */

.carousel--set-carousel-size-disabled { height: 160px; }
.carousel--set-carousel-size-disabled .carousel-cell { height: 100%; }

.carousel--set-carousel-size-disabled-percentage { padding-bottom: 50%; }
.carousel--set-carousel-size-disabled-percentage .flickity-viewport {
  position: absolute;
  width: 100%;
}
.carousel--set-carousel-size-disabled-percentage .carousel-cell { height: 100%; }

/* ---- resize-option ---- */

.carousel--resize-option {
  width: 300px;
}

/* ---- adaptive-height ---- */

.carousel-cell--adapt-height2 { height: 240px; }
.carousel-cell--adapt-height3 { height: 320px; }

.carousel--transition-adaptive-height .flickity-viewport {
  transition: height 0.2s;
}

/* ---- bg-lazyload ---- */

.carousel--bg-lazyload .carousel-cell {
  background-size: cover;
  background-position: center center;
  height: 220px;
}

/* ---- bg-lazyload ---- */

.carousel--fade {
  background: #222;
}

/* ---- large device media query ---- */

@media screen and ( min-width: 768px ) {

  .carousel--media-queried .carousel-cell { width: 50%; }

  .carousel--images-demo img {
    height: 400px;
  }
}

/* example
------------------------- */

/* ---- 100% width & height ---- */

/* set arbitrary height */
.example__demo--full-bleed {
  height: 300px;
  margin-bottom: 50px;
}

/* hero-carousel
------------------------- */

.hero-carousel {
  margin-bottom: 80px;
  background: #FAFAFA url('https://i.imgur.com/R60qKwS.jpg');
  background-size: cover;
}

.hero-carousel__cell {
  width: 100%;
  height: 240px;
  color: white;
  background: #ED2;
  background: #EFCE36; /* match gif */
}

.hero-carousel__cell__content {
  padding: 20px 60px 0;
  max-width: 1000px;
  margin: 0 auto;
  position: relative;
}

.hero-carousel h1 {
  font-size: 3.2rem;
  line-height: 1.0;
  margin: 0;
  padding-top: 40px;
}

.hero-carousel .tagline {
  font-size: 1.4rem;
  line-height: 1.0;
  margin: 0 0 0.5rem;
  color: #444;
}

.hero-illustration {
  display: block;
  width: 100%;
  max-width: 200px;
  margin: 0 auto;
}

.hero-carousel__cell--2 {
  background: #8C8;
}

.slogan {
  line-height: 1.2;
  margin: 0;
}

.slogan--easy,
.slogan--fun {
  font-size: 2.2rem;
  line-height: 1.1;
}

.slogan--tagline {
  margin-top: 10px;
  font-size: 1.2rem;
  color: #444;
}

.feature-list {
  font-size: 1.8rem;
  list-style: none;
  line-height: 1.2;
  margin: 0;
  padding: 0;
}

.feature-list li {
  margin-bottom: 10px;
}

.hero-carousel__cell--3 {
  background: #E90;
}

.hero-carousel__cell--4 {
  background: #E5A;
}

.by-line {
  line-height: 1.2;
  margin: 0;
  font-size: 1.8rem;
}

.by-line--made {
  padding-top: 20px;
  margin-bottom: 10px;
  color: #444;
}

@media screen and ( max-width: 500px ) {
  /* hide first cell content on small devices */
  .hero-carousel h1,
  .hero-carousel .tagline,
  .hero-carousel .gh-button {
    display: none;
  }

}

@media screen and ( min-width: 500px ) {
  .hero-carousel__cell--1  .hero-carousel__cell__content {
    padding-right: 260px;
  }

  .hero-illustration {
    position: absolute;
    right: 60px;
    top: 20px;
  }
}

/* ---- large device styles ---- */

@media screen and ( min-width: 768px ) {

  .hero-carousel__cell {
    height: 440px;
  }

  .hero-carousel__cell__content {
    padding-top: 40px;
  }

  .hero-carousel h1 {
    font-size: 5.8rem;
  }

  .hero-carousel .tagline {
    font-size: 2.1rem;
  }

  .hero-illustration {
    top: 80px;
  }

  .slogan--easy,
  .slogan--fun {
    font-size: 4.8rem;
  }

  .slogan--tagline {
    margin-top: 20px;
    font-size: 2.4rem;
  }

  .feature-list {
    font-size: 3.1rem;
  }

  .feature-list li {
    margin-bottom: 20px;
  }

  .by-line {
    font-size: 3.1rem;
  }

  .by-line--made {
    padding-top: 40px;
    margin-bottom: 20px;
  }

}

@media screen and ( min-width: 960px ) {

  .hero-carousel__cell--1  .hero-carousel__cell__content {
    padding-right: 400px;
  }

  .hero-carousel h1 {
    font-size: 7.8rem;
  }

  .hero-carousel .tagline {
    margin-bottom: 1.0rem;
  }

  .hero-illustration {
    max-width: 400px;
    top: 20px
  }

}

/* in-use-carousel
------------------------- */

.in-use-carousel {
}

.in-use-carousel__item {
  width: 400px;
  height: 450px;
  display: block;
  position: relative;
  margin-right: 40px;
  border-radius: 5px;
}

.in-use-carousel__item__title {
  position: absolute;
  bottom: 0px;
  text-align: center;
  width: 100%;
  margin: 0;
  line-height: 50px;
}

.in-use-carousel__item__image {
  display: block;
  max-width: 100%;
  border-radius: 5px;
  transition: opacity 0.4s;
  opacity: 0;
}

/* fade in image when loaded */
.in-use-carousel__item__image.flickity-lazyloaded,
.in-use-carousel__item__image.flickity-lazyerror {
  opacity: 1;
}


.carousel--as-nav-for-main { margin-bottom: 40px; }

.carousel--nav .carousel-cell {
  height: 80px;
  width: 100px;
}

.carousel--nav .carousel-cell:before {
  font-size: 50px;
  line-height: 80px;
}

.carousel--nav .carousel-cell.is-nav-selected {
  background: #ED2;
}

/* ---- cell-selector-demo ---- */

.static-banner {
  position: absolute;
  background: hsla(0, 0%, 0%, 0.3);
  z-index: 1;
  padding: 2px 20px;
  color: white;
  pointer-events: none;
}

.static-banner1 {
  left: 10px;
  top: 10px;
}

.static-banner2 {
  right: 10px;
  bottom: 10px;
}

/* event-table
------------------------- */

.event-table {
  width: 100%;
}

.event-table th,
.event-table td {
}

.event-table td {
  font-size: 0.9rem;
}

td.event-table__time {
  font-size: 0.9rem;
}

.event-table__message {
  width: 100%;
}

/* fullscreen
------------------------- */

.carousel.is-fullscreen {
  z-index: 3; /* above site-footer */
}

.carousel.is-fullscreen .carousel-cell,
.carousel.is-fullscreen .carousel-image-cell {
  height: 100%;
}

/* ---- .carousel-cell--fullscreen-image img ---- */

.carousel__natural-image--fullscreen {
  /* HACK vertically center */
  /* could use flexbox, but doesn't work in Chrome & Safari */
  top: 50%;
  position: relative;
  transform: translateY(-50%)
}

.carousel.is-fullscreen .carousel__natural-image--fullscreen {
  height: auto;
  max-height: 100%;
}

/* ---- carousel-image-cell ---- */

.carousel.is-fullscreen .carousel-image-cell img {
  max-width: 100%;
}

/* ----  ---- */

/* HACK, iOS adds width from font-size in button */
.flickity-fullscreen-button {
  font-size: 12px;
}

/* ---- keyhole ---- */

.keyhole-cell {
  margin-right: 20px;
  overflow: hidden;
}

.keyhole-cell img {
  display: block;
  height: 260px;
}

/* ---- line-dots ---- */

.carousel--line-dots .flickity-page-dots {
  bottom: -22px;
}

.carousel--line-dots .flickity-page-dots .dot {
  height: 4px;
  width: 40px;
  margin: 0;
  border-radius: 0;
}

/* ---- lazyload ---- */

/* ---- carousel__lazy-image ---- */
/* general purpose */

.carousel__lazy-image {
  opacity: 0;
  transition: opacity 0.4s;
}
/* fade in lazy loaded image */
.carousel__lazy-image.flickity-lazyloaded,
.carousel__lazy-image.flickity-lazyerror {
  opacity: 1;
}

/* ---- lazyload-adj-cells ---- */

.carousel--lazyload-adj-cells .carousel-image-cell {
  width: 25%;
}

/* ---- o dots ---- */

.carousel--o-dots .flickity-page-dots {
  bottom: 0px;
}

.carousel--o-dots .flickity-page-dots .dot {
  width: 12px;
  height: 12px;
  opacity: 1;
  background: transparent;
  border: 2px solid white;
}

.carousel--o-dots .flickity-page-dots .dot.is-selected {
  background: white;
}

/* parallax
------------------------- */

.parallax {
  position: relative;
  overflow-x: hidden;
}

.carousel.carousel--parallax {
  background: transparent;
}

.carousel--parallax .carousel-cell {
  opacity: 0.6;
  height: 220px;
  width: 50%;
  margin: 40px 5%;
}

.parallax__layer {
  position: absolute;
  left: 0;
  top: 0;
}

.parallax__layer--bg {
  top: 70px;
  width: 80%;
  height: 160px;
}

.parallax__layer--fg {
  pointer-events: none;
  width: 125%;
  height: 300px;
}

.parallax__layer__cell {
  position: absolute;
  width: 50%;
  margin: 0 5%;
  height: 100%;
}

.parallax__layer__cell:nth-child(1) { left: 0%; }
.parallax__layer__cell:nth-child(2) { left: 60%; }
.parallax__layer__cell:nth-child(3) { left: 120%; }
.parallax__layer__cell:nth-child(4) { left: 180%; }
.parallax__layer__cell:nth-child(5) { left: 240%; }

.parallax__layer__cell--bg {
  background: hsla(210, 100%, 50%, 0.4);
}

.parallax__layer__cell--fg {
  background: hsla(60, 100%, 50%, 0.4);
}

/* ---- carousel--prev-next-big-arrow ---- */

.carousel--prev-next-big-arrow .flickity-prev-next-button {
  background: transparent;
}

.carousel--prev-next-big-arrow .flickity-prev-next-button {
  width: 100px;
  height: 100px;
}

.carousel--prev-next-big-arrow .flickity-button-icon {
  fill: white;
}

.carousel--prev-next-big-arrow .flickity-button:disabled {
  display: none;
}

/* ---- carousel--prev-next-small-outside ---- */

.carousel--prev-next-small-outside {
  margin-left: 40px;
  margin-right: 40px;
}

.carousel--prev-next-small-outside .flickity-button {
  background: #333;
}

.carousel--prev-next-small-outside .flickity-prev-next-button {
  width: 30px;
  height: 30px;
  border-radius: 5px;
}

.carousel--prev-next-small-outside .flickity-button:hover {
  background: #F90;
}

.carousel--prev-next-small-outside .flickity-button-icon {
  fill: white;
}

.carousel--prev-next-small-outside .flickity-prev-next-button.previous {
  left: -40px;
}
.carousel--prev-next-small-outside .flickity-prev-next-button.next {
  right: -40px;
}

/* progress-bar
------------------------- */

.carousel--progress-bar {
  margin-bottom: 0;
}

.carousel--progress-bar .flickity-page-dots {
  bottom: -40px;
}

.progress-bar__bar {
  height: 20px;
  width: 0;
  background: #333;
  margin-bottom: 30px;
}

/* ---- reposition ---- */

.carousel--reposition .carousel-cell {
  position: relative;
  width: 33%;
}

.carousel--reposition .carousel-cell.is-expanded {
  width: 80%;
}

.carousel--reposition .carousel-cell .button {
  position: absolute;
  left: 10px;
  top: 10px;
}

/* ---- resize ---- */

.carousel--resize {
  width: 50%;
  min-width: 240px;
}

.carousel--resize.is-expanded {
  width: 100%;
}

.carousel--resize.is-expanded .carousel-cell {
  height: 320px;
}

.carousel--resize.is-expanded .carousel-cell:before {
  line-height: 320px;
}
/* ---- static-click ---- */

.carousel--static-click .carousel-cell { width: 26%; }

.carousel--static-click .carousel-cell.is-clicked { background: #ED2; }

/* ---- watch-css ---- */

.carousel--watch-css:after {
  content: 'flickity';
  display: none;
}


@media screen and ( min-width: 768px ) {

  .carousel--watch-css:after {
    content: '';
  }

}